<!DOCTYPE html>
<html>
  <head>
    <title>PhotogramFinal</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <ul>
      <li><%= link_to "All users", users_path %></li>
      <li><%= link_to "All public photos", photos_path %></li>
      <% if Current.user %>
        <li><%= link_to Current.user.username, edit_users_path %></li>
      <% else %>
        <li><%= link_to "Sign in", login_users_path %></li>
      <% end %>
      <% if Current.user %>
        <li><%= link_to "Sign out", logout_users_path%></li>
      <% else %>
        <li><%= link_to "Sign up", new_users_path %></li>
      <% end %>
  </ul>
  <% if flash[:alert] %>
      <div>
          <p><%= flash[:alert] %></p>  
      </div>
  <% end %>
  <body>
    <%= yield %>
  </body>
</html>
